<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./bolsa.css" rel="stylesheet" type="text/css" />
    <title>Exotics Wear</title>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;1,200&display=swap');
    </style>
  </head>

  <body>
    <!-- Cabecera que sera usada en todas las paginas ---------------------------------------->
    <header class="header">
      <!-- Palabra de la marca -->
      <a href="../../index.html" class="logo"><img src="../../assets/Logo.PNG" alt=""></a>
      <div class="header-right" >
        <a href="../login/login.html">Log In</a>
        <a href="../../index.html">Inicio</a>
        <a href="../catalogo/catalogo.html">Catálogo</a>
        <a class="active" href="bolsa.html">Bolsa</a>
      </div>
    </header>

    <h1 class="title">Bolsa</h1>
  <!-- TARJETAS ----------------------------------------------------->
  <div class="container">
    <div class="cards">
      <div class="a-box">
        <div class="img-container">
          <div class="img-inner">
            <div class="inner-skew">
              <img src="../../assets/camiseta1.jpg">
            </div>
          </div>
        </div>
        <div class="text-container">
          <h3>Camiseta</h3>
          <div>Talla M</div>
        <button>
          <span>Eliminar</span>
        </button>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="cards">
      <div class="a-box">
        <div class="img-container">
          <div class="img-inner">
            <div class="inner-skew">
              <img src="../../assets/camiseta2.jpg">
            </div>
          </div>
        </div>
        <div class="text-container">
          <h3>Camiseta</h3>
          <div>Talla M</div>
        <button>
          <span>Eliminar</span>
        </button>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="cards">
      <div class="a-box">
        <div class="img-container">
          <div class="img-inner">
            <div class="inner-skew">
              <img src="../../assets/camiseta3.jpg">
            </div>
          </div>
        </div>
        <div class="text-container">
          <h3>Camiseta</h3>
          <div>Talla M</div>
        <button>
          <span>Eliminar</span>
        </button>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="cards">
      <div class="a-box">
        <div class="img-container">
          <div class="img-inner">
            <div class="inner-skew">
              <img src="../../assets/camiseta4.jpg">
            </div>
          </div>
        </div>
        <div class="text-container">
          <h3>Camiseta</h3>
          <div>Talla M</div>
        <button>
          <span>Eliminar</span>
        </button>
      </div>
    </div>
  </div>

</body>
</html>

