body {
    margin: 0;
    padding: 0;
    background-color: white;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Montserrat", sans-serif;
  }

.header{
    overflow: hidden;
    padding: 2px 2px;
    background-color: #FFCC00;
    height: 100px;
  }

.header a {
    float: left;
    color: rgb(0, 0, 0);
    padding: 8px;
    margin: 0 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    font-weight: bold;
  }

/* Envia texto a la derecha */
.header-right {
    float: right;
    margin: 2% 3%;
  }
  
/*Estilo cuando el cursor se para encima*/
.header a:hover {
    color: rgb(4, 2, 21);
    text-shadow: 1px 1px 2px black, 0 0 1em rgba(255, 255, 255, 0.738),
      0 0 0.2em rgba(13, 7, 7, 0.738);
  }

  /*Carácteristicas del logo*/
.header .logo img {
    padding: 16px;
    margin: 0;
    margin: 1% 2%;
    padding: 0;
    width: 93px;
   
  }

 /*Hace sombra para saber en que módulo estoy*/
.header a.active {
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 2px black, 0 0 1em rgba(255, 255, 255, 0.738), 0 0 0.2em rgba(13, 7, 7, 0.738);
  }

/*Estilos para la clase tittle*/
.title{
    color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 4%;
    font-size: 40px;
}

/*Estilo de las tarjetas*/
body {
    text-align: center;
    padding: 30px;
    background: #f8f4f2;
    font-family: Arial;
  }
  
  .a-box {
    display: inline-block;
    width: 240px;
    text-align: center;
  }
  
  .img-container {
      height: 230px;
      width: 200px;
      overflow: hidden;
      border-radius: 0px 0px 20px 20px;
      display: inline-block;
  }
  
  .img-container img {
      transform: skew(0deg, -13deg);
      height: 250px;
      margin: -35px 0px 0px -70px;
  }
  
  .inner-skew {
      display: inline-block;
      border-radius: 20px;
      overflow: hidden;
      padding: 0px;
      transform: skew(0deg, 13deg);
      font-size: 0px;
      margin: 30px 0px 0px 0px;
      background: #c8c2c2;
      height: 250px;
      width: 200px;
  }
  
  .text-container {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    padding: 110px 20px 20px 20px;
    border-radius: 20px;
    background: #fff;
    margin: -100px 0px 0px 0px;
    line-height: 19px;
    font-size: 14px;
  }
  
  .text-container h3 {
    margin: 5px 0px 5px 0px;
    color: #FFCC00;
    font-size: 18px;
  }

  /*Estilos para el boton eliminar de cada tarjeta*/
button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #000000;
    font-family: "Montserrat", sans-serif;
    box-shadow: 0px 6px 2px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border: none;
   }
   
button:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: #ff0101;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
   }
   
button:hover::after {
    right: auto;
    left: 0;
    width: 100%;
   }
   
button span {
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 5px 5px;
    color: #fff;
    font-size: 1.125em;
    font-weight: 700;
    letter-spacing: 0.2em;
    z-index: 20;
    transition: all 0.3s ease-in-out;
   }
   
button:hover span {
    color: rgb(0, 0, 0);
    animation: scaleUp 0.3s ease-in-out;
   }
   
   @keyframes scaleUp {
    0% {
     transform: scale(1);
    }
   
    50% {
     transform: scale(0.95);
    }
   
    100% {
     transform: scale(1);
    }
   }

   .wrapper {
    display: grid;
    grid-template-rows: 100px 100p;
  }