<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./catalogo.css" rel="stylesheet" type="text/css" />
    <title>Exotics Wear</title>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;1,200&display=swap');
    </style>
  </head>

<body>
  <!-- Cabecera que sera usada en todas las paginas -->
  <header class="header">
    <!-- Palabra de la marca -->
    <a href="../../index.html" class="logo"><img src="../../assets/Logo.PNG" alt=""></a>
    <div class="header-right" >
      <a href="../login/login.html">Log In</a>
      <a href="../../index.html">Inicio</a>
      <a href="catalogo.html">Catálogo</a>
      <a class="active" href="../bolsa/bolsa.html">Bolsa</a>
    </div>
  </header>

  <div>
    <div class="imagen">
      <img class="image-character" src="../../assets/camiseta1.jpg" width="375" height="400"/>
      <p style="text-align: center;">Camiseta Levis Negra</p>
      <p style="text-align: center;">$80.000</p>
    </div>
    
    <div class="imagen">
      <img class="image-character" src="../../assets/camiseta2.jpg" width="375" height="400"/>
      <p style="text-align: center;">Camiseta Nike Deportiva Negra</p>
      <p style="text-align: center;">$90.000</p>
    </div>

    <div class="imagen">
      <img class="image-character" src="../../assets/camiseta3.jpg" width="375" height="400"/>
      <p style="text-align: center;">Camiseta Nike Casual Negra</p>
      <p style="text-align: center;">$70.000</p>
    </div>

  </div>
     
</body>

</html>